@font-face {
	font-family: 'icomoon';
	src:  url('/assets/fonts/icomoon.eot?hzddrl');
	src:  url('/assets/fonts/icomoon.eot?hzddrl#iefix') format('embedded-opentype'),
	url('/assets/fonts/icomoon.ttf?hzddrl') format('truetype'),
	url('/assets/fonts/icomoon.woff?hzddrl') format('woff'),
	url('/assets/fonts/icomoon.svg?hzddrl#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: initial;


	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&:before {
		font-family: 'icomoon' !important;
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		vertical-align: initial;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

%icomoon {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	vertical-align: initial;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-globe:before {
  content: "\e912";
}

.icon-pdf:before {
  content: "\e911";
}

.icon-download:before {
  content: "\e910";
}

.icon-foodgateway:before {
  content: "\e90d";
}

.icon-gateway:before {
  content: "\e90e";
}

.icon-food:before {
  content: "\e90f";
}

.icon-filter:before {
  content: "\e90a";
}

.icon-close:before {
  content: "\e90b";
}

.icon-plane:before {
  content: "\e90c";
}

.icon-quote-close:before {
  content: "\e908";
}

.icon-quote-open:before {
  content: "\e909";
}

.icon-chevron-right:before {
  content: "\e905";
}

.icon-chevron-left:before {
  content: "\e906";
}

.icon-chevron-up:before {
  content: "\e907";
}

.icon-arrow-left:before {
  content: "\e902";
}

.icon-arrow-up:before {
  content: "\e903";
}

.icon-arrow-down:before {
  content: "\e904";
}

.icon-arrow-right:before {
  content: "\e900";
}

.icon-facebook:before {
  content: "\e901";
}

.icon-chevron-down:before {
  content: "\e937";
}

.icon-linkedin:before {
  content: "\e938";
}

.icon-mouse:before {
  content: "\e939";
}

.icon-share:before {
  content: "\e93a";
}

.icon-search:before {
  content: "\e93b";
}
