//Media query breakpoints
$bpMobile: 320px;
$bpLgMobile: 420px;
$bpTablet: 768px;
$bpDesktop: 1024px;
$bpLgDesktop: 1280px;
$bpXlDesktop: 1440px;

//font settings
$base-fontsize: 16px;
$headerFont: '', Arial, sans-serif;
$primaryFont: Arial, sans-serif;
$chineseFont: 'SimHei', Helvetica, sans-serif;

/* COLOURS */
$red: #D03744;
$darkRed: #9E3039;
$darkRed2: #B5121B;
$darkRed3: #9E5251;
$ctaText: #FAE9E0;
$textBrown1: #4E2E2D;
$textBrown2: #665C55;
$orange1: #E9943F;
$orange2: #F26322;
$orange3: #E98300;
$peach: #EDAD99;
$darkOrange: #DD4814;
$offWhite: #F4F0EC;
$headerText: #644847;
$border1: #E4E4E3;
$border2: #C9CAC8;
$textBlack: #4E2E2D;
$textGray: #665C55;
$textGray2: #766A62;
$navHover: #F4F4F4;
$milestoneYear: rgb(90, 47, 47);
$disabled: #777777;
$placeholder: #767676;
$breadcrumb: #423c37;
$tableGray: #F9F9F9;
$beige: #f4f4f4;

$mapPink: #F0B7A8;
$mapYellow: #F1BA81;
$mapYellow2: #DD7C00;
$mapGrey: #CAC2C7;
$mapGrey2: #8B6F77;
$mapOrange: #F1B898;
$mapOrange2: #C44E24;
$mapOrange3: #FF5F4B;

$dropdownHover: #F2C3B4;
