//Import helpers
@import './_variables';
@import './_mixins';
@import './_helpers';
@import './_icons';
@import './_grids';

//Normalize styles
@import '../../node_modules/normalize.css/normalize';

@import "./_fonts";

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}


// Import Modules
// Base
@import '../_modules/organisms/rte/rte';

// Atoms
@import '../_modules/atoms/button/button';

// Molecules
@import '../_modules/molecules/child-nav/child-nav';


// Organisms
@import '../_modules/organisms/site-header/site-header';
